*{
  margin:0;
  padding:0;
}
menu{
 width:100%;
 height:60px;
}
body{
 background-image:url(22.jpg) ;
 background-size: cover;
 width:100%;
 height:1124px;

}
.menu ul{
 list-style-type:none;
}
.menu ul li{border:1px solid red;
 background-color:red;
 width:222px;
 height:40px;
 line-height:40px;
 text-align:center;
 position:relative;
 border-radius:20px;
 font-size:20px;
 float:left;
 font-family:algerian;


}
.menu ul li a{
 text-decoration:none;
 background-color:green;
 display:block;
 border-radius:20px;
}
.menu ul li a:hover {
	background-color:yellow;
	border-radius:20px
}
.menu ul ul{
	display:none;
	position:absolute;
}
.menu ul  li:hover>ul{
	display:block;
}